
<div style="display: flex; justify-content: space-between;">
    <button class="btn btn-default" ng-click="self.toggleConditionTree();" style=" display: flex; align-items: center;">
        <span ng-class="{'active-discriminator': self.conditionTree.active}"
        style="width: 12px; margin-right: 7px; height: 12px; background: #cdcdcd; border-radius: 50%;"></span>
        <span ng-show="self.isConditionTreeActive()">Activated</span>
        <span ng-show="!self.isConditionTreeActive()">Inactive</span>
    </button>
    <div>
        <button class="btn btn-default" ng-click="self.deleteCondition()">Delete</button>
        <button class="btn btn-default" ng-click="self.addCondition()" style="margin-left: 7px;">Add</button>
    </div>
</div>

<div style="padding: 20px 0;">
    <wi-cond-node 
        item='self.conditionTree' 
        curve-options='self.curvesArr' 
        root="self.conditionTree">
    </wi-cond-node>
</div>

<div class='form-group'>
    <textarea class='form-control' disabled ng-model="self.conditionExpr"></textarea>
</div>
