<div class='modal fade' data-backdrop="static" data-keyboard="false">
	<div class='modal-dialog modal-md'>
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="wiModal.close(false)" aria-hidden="true">&times;</button>
				<h4>{{wiModal.title}}</h4>
			</div>
			<div class="modal-body text-center">
				<span style="font-style: italic; color: #281D1B; white-space: normal;" ng-bind-html="wiModal.confirmMsg"></span>
			</div>
			<div class="modal-footer">
				<button ng-if="wiModal.actions" ng-repeat="action in wiModal.actions" class='btn btn-default' ng-click='action.onClick(wiModal)' style="margin-left: 15px">{{action.title}}</button>
				<button ng-if="!wiModal.actions" class='btn btn-default' ng-click='wiModal.close(true)'
						style="color: #000">
                    <span class="ok-16x16"></span>&nbsp;OK
                </button>
				<button ng-if="!wiModal.actions" class='btn btn-default' ng-click='wiModal.close(false)'>
                    <span class="close-16x16"></span>&nbsp;Cancel
                </button>
			</div>
		</div>
	</div>
</div>
