
svg {
    width: 70px;
    display: block;
    margin: 77px auto 0;
}

.path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;

    &.circle {
        -webkit-animation: dash .9s ease-in-out;
        animation: dash .9s ease-in-out;
    }

    &.line {
        stroke-dashoffset: 1000;
        -webkit-animation: dash .9s .35s ease-in-out forwards;
        animation: dash .9s .35s ease-in-out forwards;
    }

    &.check {
        stroke-dashoffset: -100;
        -webkit-animation: dash-check .9s .35s ease-in-out forwards;
        animation: dash-check .9s .35s ease-in-out forwards;
    }
}

p {
    text-align: center;
    margin: 20px 0 60px;
    font-size: 1.25em;

    &.wellcome {
        color: #424242;
        font-size: 14px;
    }
}


@-webkit-keyframes dash {
    0% {
        stroke-dashoffset: 1000;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 1000;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@-webkit-keyframes dash-check {
    0% {
        stroke-dashoffset: -100;
    }

    100% {
        stroke-dashoffset: 900;
    }
}

@keyframes dash-check {
    0% {
        stroke-dashoffset: -100;
    }

    100% {
        stroke-dashoffset: 900;
    }
}


* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}


.login {
    font-family: Arial;
    margin: 20px auto;
    display: flex;
    width: 100%;
    justify-content: center;
    // border: 1px solid #c0c0c0;
    border-radius: 2px;
}


.login-screen {
    padding: 11px 40px 5px 40px;
    flex: 1;
}

::placeholder {
    /* Firefox, Chrome, Opera */
    color: rgb(192, 192, 192);
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(192, 192, 192);
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgb(192, 192, 192);
}

.app-title {
    text-align: left;
    color: #777;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
}

.login-form {
    text-align: center;
}

.control-group {
    margin-bottom: 20px;
}

input {
    text-align: left;
    color: #0077be;
    background-color: #f2f2f2;
    border: 1px solid #ffffff;
    border-radius: 70px;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 18px 11px 22px;
    width: 100%;
    transition: border .5s;
}

input:focus {
    border: 1px solid #0077be;
    box-shadow: none;
}

.btn {
    border: 2px solid transparent;
    background: #0077be;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    // line-height: 25px;
    padding: 10px;
    text-decoration: none;
    text-shadow: none;
    border-radius: 70px;
    box-shadow: none;
    transition: 0.25s;
    display: block;
    width: 100%;
    margin: 0 auto;
}

.btn:hover {
    background-color: #0d9fff;
    color: #fff;
}

.btn.focus,
.btn:focus,
.btn:hover {
    color: #fff;
    text-decoration: none;
}

.login-link {
    font-size: 12px;
    color: #acabab;
    display: block;
    margin-top: 12px;
}

//---------------------------------------------------------------------
.ngdialog.ngdialog-theme-default .ngdialog-content {
    -webkit-animation: ngdialog-flyin .3s;
    animation: ngdialog-flyin .3s;
    background: #ffffff;
    border-radius: 5px;
    color: #444;
    font-family: Helvetica, sans-serif;
    font-size: 1.1em;
    line-height: 1.5em;
    margin: 0 auto;
    max-width: 100%;
    padding: 1em;
    position: relative;
    width: 400px;
}

.ngdialog-close {
    display: none;
}

.ngdialog-overlay {
    background: rgba(0, 0, 0, 0.67);
    -webkit-backface-visibility: hidden;
    -webkit-animation: ngdialog-fadein .3s;
    animation: ngdialog-fadein .3s;
}


wi-login {

    .login-icon {
        // width: 50px;
        // height: 50px;
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 402;
        border-radius: 50%;
        background: #0077be;
        color: #fff;
        cursor: pointer;
    }

    .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .online {
        color: #fff;
    }

    .offline {
        color: #1b557c;
    }
}