<!-- <div class="modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container-fluid">
                    <h3 class="text-center">Sign In</h3>
                    <hr>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="username">Username</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="username" name="username" ng-model="wiModal.username" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="password">Password</label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control" id="password" name="password" ng-model="wiModal.password" required>
                            </div>
                        </div>
                        <div style="font-size: 12px; font-style: italic; color: steelblue;">
                            Please contact us via
                           support@i2g.cloud
                            for any trouble signing in to I2G.
                        </div>
                        <button type="submit" class="btn btn-default float-right margin-bottom-1_5em" ng-click="wiModal.onLoginButtonClicked()">Sign In</button>
                        <div class="form-group checkbox col-sm-4 pull-right">
                            <label class="control-label" for="remember"><input type="checkbox" id="remember" ng-model="wiModal.remember">Remember me</label>
                        </div>
                    </form>
                </div>
                <p class="dialog-error" ng-if="wiModal.error">Error: {{wiModal.error}}</p>
            </div>
        </div>
    </div>
</div> -->

<div class="dialog-login">
    <div class="left-dialog-login">
        <div class="logo"></div>
        <div class="info-dialog-login"> </div>
        <div class="description">&copy;	 2019 Revotech</div>
    </div>
    <div class="right-dialog-login">
        <div style="margin-bottom:10px">Login to</div>
        <div style="margin-bottom:40px; font-weight: 500; font-size:20px">i2G Data Adminstrator</div>
        <form style="display: flex; flex-direction: column;">
            <input type="text" class="input-login" id="username" name="username" ng-model="wiModal.username" required placeholder="Username">
            <input type="password" class="input-login" id="password" name="password" ng-model="wiModal.password" required placeholder="Password">
            <input class="submit-login" type="Submit" value="LOGIN" ng-click="wiModal.onLoginButtonClicked()">
        </form>
        <div style="font-size: 10px; font-style: italic; margin-top: 20px;"> Please contact us via support@i2g.cloud for any trouble signing in to I2G.</div> </div>
</div>