<div class="dropdown" uib-dropdown auto-close="outsideClick">
    <button style="line-height:2;min-height: 34px;" class="btn btn-default dropdown-toggle multi-input-selected" uib-dropdown-toggle id="dropdownMenu">
        <span ng-if="wiMultiInput.model.type == 'value'">
            {{wiMultiInput.SelectedValue}}
        </span>
        <span ng-if="wiMultiInput.model.type == 'curve'">
            {{wiMultiInput.SelectedCurve.name}}
        </span>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu multi-input-menu" aria-labelledby="dropdownMenu" uib-dropdown-menu role="menu">
        <li style="margin-bottom: 7px">
            <label>
                <input type="radio" name='{{wiMultiInput.name}}' value="value" ng-model="wiMultiInput.model.type" style="vertical-align:top"
                ng-click="wiMultiInput.onValueChange()">
                Value
            </label>
            <input type="number" ng-model="wiMultiInput.SelectedValue" ng-disabled="wiMultiInput.model.type == 'curve'" class="form-control wi-form-control" ng-change='wiMultiInput.onValueChange()'>
        </li>
        <li ng-if="wiMultiInput.valueOnly">
            <label>
                <input type="radio" name='{{wiMultiInput.name}}' value="curve" ng-model="wiMultiInput.model.type" style="vertical-align:top"
                ng-click="wiMultiInput.onSelectCurve()">
                Curve
            </label>
            <ui-select ng-model="wiMultiInput.SelectedCurve" ng-change="wiMultiInput.onSelectCurveChange()" class="normal-text"
            ng-disabled="wiMultiInput.model.type == 'value'" class="form-control wi-form-control">
                <ui-select-match placeholder='Select a curve'>{{wiMultiInput.SelectedCurve.name}}</ui-select-match>
                <ui-select-choices group-by="wiMultiInput.groupFn"
                repeat='curve in wiMultiInput.curvesList | filter:{name:$select.search} track by curve.name'>
                    <div class="padding-left-20px">{{curve.name}}</div>
                </ui-select-choices>
        </ui-select>
        </li>
    </ul>
</div>
