<div class='modal fade ' data-backdrop="static" data-keyboard="false">
	<div class='modal-dialog'>
		<div class="wi-modal-content modal-content" ng-form="form">
			<div class="wi-modal-header modal-header">
				<div>{{wiModal.title}}</div>
				<div ng-click="wiModal.onCancelButtonClicked()" class="ti ti-close" style="cursor: pointer;"></div>
			</div>
			<div class="wi-modal-body slim-scroller" style="overflow: visible visible;">
				<wi-dropdown-list style="flex:1;" items='wiModal.selectionList'
					current-select="wiModal.currentSelect" on-item-changed="wiModal.onChange"
					hide-delete-button="wiModal.hideButtonDelete" on-ctrl-btn-click="wiModal.onCtrlBtnClick"
					ctrl-btn-icon='{{wiModal.iconBtn}}'>
				</wi-dropdown-list>
			</div>
			<div class="wi-modal-footer">
				<div class="btn-footer ok-btn" ng-click='wiModal.onOkButtonClicked()' ng-disabled="form.$invalid">Ok</div>
				<div class="btn-footer close-btn" ng-click='wiModal.onCancelButtonClicked()'>Cancel</div>
			</div>
		</div>
	</div>
</div>