<div class='modal fade ' data-backdrop="static" data-keyboard="false">
	<div class='modal-dialog'>
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="wiModal.onCancelButtonClicked()" aria-hidden="true">&times;</button>
				<h4 ng-bind-html="wiModal.title"></h4>
			</div>
			<div style="overflow: unset;" class="modal-body text-center" ng-form="form">
				<div class="form-horizontal">
					<div class="form-group">
						<label class="control-label col-sm-4">{{wiModal.inputName}}:</label>
						<div class="col-sm-8">
                            <wi-dropdown-list style="flex:1;" items='wiModal.selectionList'
                                current-select="wiModal.currentSelect"
                                on-item-changed="wiModal.onChange">
                            </wi-dropdown-list>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class='btn btn-default' ng-click='wiModal.onOkButtonClicked()' ng-disabled="form.$invalid">
					<span class="ok-16x16"></span>&nbsp;OK
				</button>
				<button class='btn btn-default' ng-click='wiModal.onCancelButtonClicked()'>
					<span class="cancel-16x16"></span>&nbsp;Cancel
				</button>
			</div>
		</div>
	</div>
</div>
