<curve-metadata-bar
  dataset="self.dataset"
  well="self.well"
  curve-name="self.curveName"
  num-bins="self.numBins"
></curve-metadata-bar>

<div class="text-danger" ng-bind="self.errMsg"></div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Count</th>
      <th scope="col">Lower</th>
      <th scope="col">Upper</th>
    </tr>
  </thead>
  <tbody>
      <tr ng-repeat="(idx, metricsEachBin) in self.binMetrics track by $index" ng-class="{'active': self.isSearchResult(metricsEachBin)}">
      <th scope="row" ng-bind="idx + 1"></th>
      <td
        ng-repeat="metric in metricsEachBin track by $index"
        ng-bind="metric"
      ></td>
    </tr>
  </tbody>
</table>
