<div style="display:flex;flex-direction:column;width:100%;height:100%;">
    <div ng-transclude></div>
    <div>
        <input type="text" ng-model="self.filter" placeholder="Search">
    </div>
    <div style="flex:1;overflow-y: auto;">
        <wi-tree-node ng-repeat="child in self.treeRoot"
            tree-root='child'
            filter='self.filter'
            get-children='self.getChildren'
            get-label='self.getLabel'
            get-icon='self.getIcon'
            keep-children='self.keepChildren'
            click-fn='self.clickFn'
            run-match='self.runMatch'>
        </wi-tree-node>
    </div>
</div>
