<div class='node-content' ng-class="{
    'not-matched': !self.showNode(), 
    'search-mode':self.wiTreeView.filter.length,
    'not-show': self.hideUnmatched,
    'selected': self.treeRoot._selected}" ng-mousedown="self.onClick($event)" 
    oncontextmenu="(function(){event.preventDefault();return false;})()">
    <div class="node-caret" ng-class="{'invisible': !self.getChildren(self.treeRoot).length}"
        ng-click="self.toggleChildren()">
        <i ng-hide="self.collapsed" class="fa fa-caret-down"></i>
        <i ng-show="self.collapsed" class="fa fa-caret-right"></i>
    </div>
    <div ng-if="self.getIcon" class="node-icon"><i class="tree-icon {{self.getIcon(self.treeRoot)}}"></i></div>
    <div ng-if="self.getIcons" class="node-icon"><i ng-style="self.getIconStyle($index)" style='margin: 0 1px;' class="tree-icon {{icon}}"
        ng-repeat="icon in self.getIcons(self.treeRoot) track by $index"></i>
    </div>
    <div class="node-label">
        {{self.getLabel(self.treeRoot)}}
    </div>
</div>
<div ng-if="self.getChildrenWrapper(self.treeRoot).length" ng-hide="self.collapsed">
    <wi-tree-node ng-repeat="child in self.getChildren(self.treeRoot)" tree-root='child' filter='self.filter1'
        keep-children='self.keepChildren' get-children='self.getChildren' get-label='self.getLabel'
        hide-unmatched='self.hideUnmatched'
        get-icon='self.getIcon' 
        get-icons='self.getIcons'
        icon-style='self.iconStyle'
        on-drag-start='self.onDragStart' on-drag-stop='self.onDragStop'
        run-match="self.runMatch" single-node="self.singleNode" get-siblings="self.getSiblings" on-context-menu="self.onContextMenu"
        uncollapsible='self.uncollapsible'
        context-menu="self.contextMenu">
    </wi-tree-node>
</div>
<div style="clear:both;"></div>
