chart-widget {
    &>span {
        display           : block;
        height            : 30px;
        line-height       : 15px;
        text-align        : center;
        background        : #ffffff;
        // justify-content: center;
        // border-bottom  : 1px solid #f4f4f4;
        font-weight       : bold;
    }


    .setting {
        display : none;
        flex    : 1;
        position: absolute;
        width   : 100%;

        &.filling {
            padding-top: 30px ;
            display      : block;
            background   : #fff;
            height       : 100%;
            width        : 100%;
            overflow     : unset;
        }
    }

    &>div {
        // padding-right: 5px;

        &>canvas {
            max-height: 30vh;
        }
    }
    ////////////////////////
    .btn-default {
        color: #333;
        background-color: #fff;
        border-color: transparent;
        border-radius: 0;
        border-bottom: 1px solid #c4c4c4;
        box-shadow: none;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        outline: none;
    }
    .btn-default-focus {
        box-shadow: none;
        outline: none;
    }
    .btn-default:hover {
        color: #333;
        background-color: #fff;
        border-color: #3f85ff;
    }
    .btn:active {
        box-shadow: none;
    }
    .form-control {
        box-shadow: none;
    }
    .form-control:focus {
        border-color: transparent ;
        box-shadow: none;
    }
    .ui-select-bootstrap .ui-select-match-text {
        font-size: 12px;
    }

    label {
        display: flex;
        align-items: center;
        max-width: 100%;
        margin-bottom: 0px;
        font-weight: 700;
    }
    editable {
        display: flex;
    }
    editable label {
        flex-basis: 70px;
    }
    editable div.my-content {
        float: left;
        flex: 1;
        text-indent: 15px;
        align-items: center;
        display: flex;
        height: 34px;
        border-bottom: 1px solid #c4c4c4;
         &>div {
             width: 100%;
             cursor: pointer;
         }
         &:hover {
            border-bottom: 1px solid #3f85ff;
         }
    }
}