<div class="setting-icon" ng-class="{'filling': self.showSetting}"
    ng-click="self.showSetting = !self.showSetting">
    <div class="setting">
    </div>
</div>
<span>{{self.widgetName}}</span>
<div>
    <canvas ng-if="self.widgetConfig.type === 'bar'" class='chart-bar' chart-data="self.widgetConfig.data" 
        chart-labels="self.getLabels(self.widgetConfig)" 
        chart-colors="self.getColors(self.widgetConfig)"
        chart-series="self.getSeries(self.widgetConfig)"></canvas>
    <canvas ng-if="self.widgetConfig.type === 'horizontal-bar'" class='chart-horizontal-bar' chart-data="self.widgetConfig.data" 
        chart-labels="self.getLabels(self.widgetConfig)" 
        chart-colors="self.getColors(self.widgetConfig)"
        chart-series="self.getSeries(self.widgetConfig)"></canvas>
    <canvas ng-if="self.widgetConfig.type === 'pie'" class='chart-pie' chart-data="self.widgetConfig.data" 
        chart-labels="self.getLabels(self.widgetConfig)" 
        chart-colors="self.getColors(self.widgetConfig)"
        chart-series="self.getSeries(self.widgetConfig)"></canvas>
    <canvas ng-if="self.widgetConfig.type === 'line'" class='chart-line' chart-data="self.widgetConfig.data" 
        chart-labels="self.getLabels(self.widgetConfig)" 
        chart-colors="self.getColors(self.widgetConfig)"
        chart-series="self.getSeries(self.widgetConfig)"></canvas>
    <canvas ng-if="self.widgetConfig.type === 'doughnut'" class='chart-doughnut' chart-data="self.widgetConfig.data" 
        chart-labels="self.getLabels(self.widgetConfig)" 
        chart-colors="self.getColors(self.widgetConfig)"
        chart-series="self.getSeries(self.widgetConfig)"></canvas>
</div>
