<div class="i2g-editable">
    <label class="i2g-editable-title" :style="styleLabel" v-if="itemLabel" v-html="itemLabel" @click.self="show=!show;showEdit();"></label>
    <div class="i2g-editable-content" :style="styleItem">
        <div class="i2g-editable-text-display" v-show="show" @click="show=!show;showEdit();" >
            <span>{{viewValue}}</span>
        </div>
        <div class="i2g-editable-input" v-show="!show">
            <form @submit.prevent="unFocus">
                <input ref="input" type='text' v-model="temp" @blur="setValue(params, temp);show=!show">
            </form>
        </div>
    </div>
</div>