side-bar > div {
    height: 100%;
    width: 0px;
    background: #f4f4f4;
    box-shadow: 0 0 22px rgba(0, 0, 0, 0.12);
    position: relative;
}
side-bar div.handle {
    display: inline-block;
    position: absolute;
    z-index: 401;
    right: -20px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: #0074c5;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
}
side-bar div.icon{
    color: #fff;
    position: relative;
    top: 32%;
    left: 42%;
 
}
side-bar .animation-enable {
    transition: width 0.5s cubic-bezier(0, 1.04, 1, 1);
}
