side-bar>div {
    height: 100%;
    width: 0px;
    background: #ffffff;
    position: relative;
}

side-bar div.handle {
    display: inline-block;
    position: absolute;
    z-index: 401;
    right: 0px;
    width: 15px;
    height: 100%;
    cursor: pointer;
    background-color: #eee;
    opacity: 0.1;
}

side-bar div.handle:hover {
    opacity: 0.5;
}

side-bar div.icon:hover {
    color: #0075c5;
}

side-bar div.icon {
    color: #000;
    position: relative;
    top: 50%;
    left: 35%;
    font-size: 150%;
}

side-bar .animation-enable {
    transition: width 0.3s cubic-bezier(0, 1.04, 1, 1);
}