
wi-droppable {
    transition: all 0.2s ease-in;
    .drag-over {
        transition: all 0.2s ease-in;
        filter: invert(30%);
        background-color: rgba(255, 255, 255, 0.5);
    }
    > div {
        float:left;
        margin: -2px;
        border: 2px dashed transparent;
        transition: all 0.2s ease-in;
    }
}